.heros {
	margin: 0 0 2em 0;
	list-style-type: none;
	padding: 0;
	width: 15em;
}

.heros li {
	cursor: pointer;
	position: relative;
	left: 0;
	background-color: #EEE;
	margin: .5em;
	padding: .3em;
	height: 1.6em;
	border-radius: 4px;
}

.heros li:hover {
	color: #607b8d;
	background-color: #DDD;
	left: .1em;
}

.heros .badge {
	display: inline-block;
	font-size: small;
	color: white;
	padding: .8em .7em 0 .7em;
	background-color: #607d8b;
	height: 1.8em;
	line-height: 1em;
	position: relative;
	left: -4px;
	top: -4px;
	margin-right:.8em;
	border-radius: 4px 0 0 4px;
}

.selected {
	background-color: #CFD8DC !important;
	color: white;
}

.heroes li.selected:hover {
	background-color: #BBD8Dc !important;
	color: white;
}
